.venv
.vscode
.aws
.ipynb_checkpoints
ultradb/static/area_color_sheets

DB Browser for SQLite.exe - Shortcut.lnk
Todo.txt
UPaintDB-ToDoFeb18.txt
ultradb/__pycache__/
old-requirements.txt
HowToUpdate Heroku.txt
How to push localDB to Heroku.txt

db_refresh.py

*.pyc
*.ipynb
*.xlsx
*.db