.venv
.vscode
.aws
.ipynb_checkpoints

RefreshScripts
HowTo
OtherTesting
DB Browser for SQLite.exe - Shortcut.lnk
Todo.txt
UPaintDB-ToDoFeb18.txt
ultradb/__pycache__/
old-requirements.txt
HowToUpdate Heroku.txt
Data Migrations.txt
UPaint-ToDo2021.txt
How to push localDB to Heroku.txt

*.sql
*.pyc
*.ipynb
*.xlsx
*.db