{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This Web Application will allow a logged-in user to interact with the database. (Certain features are available without being logged in.)</p>
    <p>The Web App provides an interface for viewing and updating information pertaining to:</p>
    <ul>
        <li>Job Sites with:</li>
        <ul>
            <li>List of Areas within a Site</li>
            <li>List of Rooms within an Area</li>
            <li>Any Colorsheets associated with an area</li>
        </ul>
        <li>Painting Projects, past, present and future with:</li>
        <ul>
            <li>Project details (location, dates, status, type, quote)</li>
            <li>List of areas / rooms included in project scope</li>
            <li>Labour breakdown for project</li>
            
        </ul>
        <li>Employee Time Tracking. Logged in users can:</li>
        <ul>
            <li>Enter their time against a particular project</li>
            <li>View a summary of their logged hours</li>
        </ul>
    </ul>
    <h3>Report Generation</h3>
    <p>The Web App can also generate reports:</p>
    <ul>
        <li>List of rooms that are overdue for painting</li>
        <li>List of rooms "As Needed" areas sorted by last painted date</li>

        <li></li>
    </ul>

    <h3>Future Features:</h3>
    <ul>
        <li>Interface for updating date of last paint</li>
        <ul>
            <li>Alternatively, auto update date_last_paint for rooms in project upon completion</li>
        </ul>
        <li>Material Breakdown for project</li>
        <li>List of areas / rooms painted, sorted by most recent</li>
        <li>Areas touched within a specified filtered date range</li>
        <li>Excel Report of all room data for chosen site</li>
    </ul>

{% endblock content %}