{% extends "layout.html" %}
{% block filter %}

{% endblock filter %}

{% block content %}

<table>
    <tr>
        <th>Date Of Work</th>
        <th>Emp Name</th>
        <th>Hours</th>
        <th>Project Name</th>
        <th>Employee Comment</th>
        <th>Approved?</th>
        <th>Edit entry</th>
    </tr>
    {% for ts in tss %}
        {% if ts.hours >0 %}
        <tr>
            <td>{{ ts.date_of_work.strftime('%a, %B %d, %Y') }}</td>
            <td>{{ ts.user.first().fName }}</td>
            <td>{{ ts.hours }}</td>
            <td>{{ ts.project.first().name }}</td>
            <td>{{ ts.comment }}</td>
            {% if ts.approved %}
                <td><a href="{{ url_for('admin_bp.admin_unapprove', ts_id=ts.id) }}"><div class="btn btn-danger">Un-Approve</div></a></td>
            {% else %}
                <td><a href="{{ url_for('admin_bp.admin_approve', ts_id=ts.id) }}"><div class="btn btn-success">Approve</div></a></td>
            {% endif %}
            <td><a href="{{ url_for('admin_bp.admin_timesheet_update', ts_id=ts.id) }}"><div class="btn btn-info">Edit</div></a></td>
        </tr>
        {% endif %}
    {% endfor %}
</table>

{% endblock content %}