{% extends "layout.html" %}
{% block content %}
    {% for client in clients %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <H4>{{ client.name }}
              {% if current_user.access_level ==7 %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('site_bp.update_client', cur_client_id=client.id) }}" style="float: right;">Update Client</a>
              {% endif %}
              </H4>
              </div>
            {% if client.contactName %}
            <p>Contact Name: {{ client.contactName }} 
            {% endif %}
            {% if client.contactEmail %}
            <p>Contact Email: {{ client.contactEmail }}</p>
            {% endif %}
            {% if client.contactPhone %}
            <p>Phone Number: {{ client.contactPhone }}</p>
            {% endif %}
        </div>
        </article>
    {% endfor %}
{% endblock content %}