{% extends "layout.html" %}
{% block content %}
{% if current_user.access_level == 7 %}
<H5><a href="{{ url_for('project_bp.new_project') }}">Add New Project</a></H5>
{% elif current_user.access_level == 5 %}
<H5><a href="{{ url_for('project_bp.new_project_simple') }}">Add New Project</a></H5>
{% endif %}

<!-- Filter form -->
<div class="content-section">
  {% from "_formhelpers.html" import render_field %}
  <form method="POST" action="">
      {{ filt.hidden_tag() }}
      <fieldset class="form-group">

          <legend class="border-bottom mb-4">{{ legend }}</legend>
          {{ render_field(filt.client_id) }}

          {{ render_field(filt.site_id) }}

          {{ render_field(filt.status_id) }}

          {{ render_field(filt.typeOfWork_id) }}

          {{ render_field(filt.start_date_after)}}

          {{ render_field(filt.start_date_before)}}

          {{ render_field(filt.finish_date_after)}}

          {{ render_field(filt.finish_date_before)}}

      </fieldset>
      <div class="form-group">
          {{ filt.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>

    {% for project in projects %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('project_bp.view_project', cur_proj_id=project.id) }}">{{ project.name }}</a>
              {% if current_user.access_level ==7 %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('project_bp.update_project', cur_proj_id=project.id) }}" style="float: right;">Update Project</a>
              {% elif current_user.access_level == 5 %}
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('project_bp.update_project_simple', cur_proj_id=project.id) }}" style="float: right;">Update Project</a> 
              {% endif %}
            </div>
            <p class="article-content">{{ project.description }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}