{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <H3>Search for a Room</H3>
    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">

            <legend class="border-bottom mb-4">{{ legend }}</legend>
            {{ render_field(form.select) }}

            {{ render_field(form.search) }}

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}