{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.site_id.label(class="form-control-label") }}<span class="requiredField"><sup>&starf;</sup></span>
                {% if form.site_id.errors %}
                    {{ form.site_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.site_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.site_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                    {{ form.area_id.label(class="form-control-label") }}<span class="requiredField"><sup>&starf;</sup></span>
                    {% if form.area_id.errors %}
                        {{ form.area_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.area_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.area_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}<span class="requiredField"><sup>&starf;</sup></span>
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.location.label(class="form-control-label") }}
                {% if form.location.errors %}
                    {{ form.location(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.location.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.location(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.date_last_paint.label(class="form-control-label") }}
                {% if form.date_last_paint.errors %}
                    {{ form.date_last_paint(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date_last_paint.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date_last_paint(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <h5>For B&M Rooms, please also enter the following:</h5>
            <div class="form-group">
                {{ form.bm_id.label(class="form-control-label") }}
                {% if form.bm_id.errors %}
                    {{ form.bm_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.bm_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.bm_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.freq.label(class="form-control-label") }}
                {% if form.freq.errors %}
                    {{ form.freq(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.freq.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.freq(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.glaccount.label(class="form-control-label") }}
                {% if form.glaccount.errors %}
                    {{ form.glaccount(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.glaccount.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.glaccount(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <span class="requiredField"><sup>&starf;</sup></span> required
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

<script>
    let site_select = document.getElementById('site_id');
    let area_select = document.getElementById('area_id');

    site_select.onchange = function(){
        site = site_select.value;
        fetch('/getareas/' + site).then(function(response){
            response.json().then(function(data){
                //Add set default if there is only one item in list.
                let optionHTML = '<option selected value="__None"></option>';
                
                for (let area of data.areas) {
                    optionHTML += '<option value="' + area.id + '">' + area.name + '</option>';
                }

                area_select.innerHTML = optionHTML;
            });
        });

    }
</script>
{% endblock content %}