{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <h4>Project: {{ proj.name }}</h4>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('area_filter', cur_proj_id=proj.id) }}">Add Rooms to this Project</a>
            
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            
            <div class="form-group">
                    {{ form.site_id.label(class="form-control-label") }}
                    {% if form.site_id.errors %}
                        {{ form.site_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.site_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.site_id(class="form-control form-control-lg") }}
                    {% endif %}
                </div>



            <div class="form-group">
                {{ form.status_id.label(class="form-control-label") }}
                {% if form.status_id.errors %}
                    {{ form.status_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.status_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.status_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.typeOfWork_id.label(class="form-control-label") }}
                {% if form.typeOfWork_id.errors %}
                    {{ form.typeOfWork_id(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.typeOfWork_id.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.typeOfWork_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.date_start.label(class="form-control-label") }}
                {% if form.date_start.errors %}
                    {{ form.date_start(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date_start.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date_start(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.target_end_date.label(class="form-control-label") }}
                {% if form.target_end_date.errors %}
                    {{ form.target_end_date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.target_end_date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.target_end_date(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.hours_estimate.label(class="form-control-label") }}
                {% if form.hours_estimate.errors %}
                    {{ form.hours_estimate(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.hours_estimate.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.hours_estimate(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.quote_amt.label(class="form-control-label") }}
                {% if form.quote_amt.errors %}
                    {{ form.quote_amt(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.quote_amt.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.quote_amt(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.damage_comment.label(class="form-control-label") }}
                {% if form.damage_comment.errors %}
                    {{ form.damage_comment(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.damage_comment.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.damage_comment(class="form-control form-control-lg") }}
                {% endif %}
            </div>

            <div class="form-group">
                    {{ form.extenuating_circumstances.label(class="form-control-label") }}
                    {% if form.extenuating_circumstances.errors %}
                        {{ form.extenuating_circumstances(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.extenuating_circumstances.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.extenuating_circumstances(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                        {{ form.area_list.label(class="form-control-label") }}
                        {% if form.area_list.errors %}
                            {{ form.area_list(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.area_list.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.area_list(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}